.navbar{
    box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.16);
}

.navbar-brand{
    .navbar-item{
        img{
            max-height: 2.6rem;
        }
    }
    .navbar-burger{
        padding: 2.4rem 1.5rem;
        height: 4.25rem;
        width: 4.25rem;

        span{
            height: 2px;
        }
    }
}

.navbar-start{
    margin-right: auto;
    margin-left: auto;
}

.navbar-end{
    margin-left: 0;
    margin-right: 2rem;
    .navbar-item{
        padding: 0.3rem;
    }
}

.navbar-item{
    text-transform: capitalize;
    font-weight: $weight-medium;
    padding: 1rem 1.5rem;
}

.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: transparent;
    color: $accent;
}

.navbar-item.has-dropdown
    .navbar-item:hover{
        background-color: transparent;
    }

.navbar-item.is-mega {
    position: static;
}

.navbar-start
    .navbar-item.has-dropdown, .navbar-item.has-dropdown.is-active {
        padding-bottom: 0;
    }

.navbar-start
    .navbar-item.has-dropdown
        .navbar-link{
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            padding-top: calc(0.5rem + 10px);
        }

.navbar-dropdown{
    cursor: auto;
    padding: 0;
    box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.16);
    border-radius: 0;
    font-size: 1rem;
    border-top: 1px solid $grey-lighter;
}

.navbar-dropdown{
    a.navbar-item{
        padding: 1.5rem 1rem;
        text-transform: capitalize;
        font-size: 0.8em;
    }
    a.navbar-item:hover, a.navbar-item.is-subactive{
        color: $accent;
    }
}


.box{
    transition: all 0.3s ease;

    &:hover{
        .link{
            color: $accent !important;
        }
    }
}