// Bulma defaults
$turquoise: #1F8079;
$orange: #F08700;
$primary : $turquoise;
$accent: $orange;

$family-secondary: "Nunito";
$family-code: "Poppins";

$link: $accent;
$navbar-item-color: $primary;

$navbar-tab-hover-border-bottom-color: transparent;
$navbar-tab-active-border-bottom-width: 2px;

// box shadows
$box-shadow: 0 2px 5px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.05);
$box-link-active-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.05);
$box-link-hover-shadow: 0 2px 43px -4px rgba(0,0,0,.19);

$menu-item-active-background-color: $primary;


// content variables
$content-blockquote-background-color: whitesmoke;
$content-blockquote-border-left: 5px solid $primary;